body {
    margin: 0;
    background-color: blanchedalmond !important;
}
html{
    font-family: sans-serif;
}

.p1 {
    font-family: "Georgia", Times, serif;
    color: darkred;
}

.p2 {
    font-family: "Georgia", Helvetica, sans-serif;
    color: darkslategrey;
}

.p3 {
    font-family: "Lucida Console", "Courier New", monospace;
    color: darkslategrey;
}

.nav-item {
    width: 5%;
    height: 5%;
    font-family: "Georgia", Times, serif;
    color: darkred;
}
